:80 {
    reverse_proxy portfolio-yafi:3000
    
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        X-XSS-Protection "1; mode=block"
        Referrer-Policy strict-origin-when-cross-origin
    }
    
    encode gzip zstd
}
